echo ============================================================================
echo ================================= trees2ws =================================
echo ============================================================================
{{ pwd }}/Trees2WS/trees2ws_.sh -d {{ finalSelectionDir }} -y {{ year }} -s {{ TprimeProc }}

echo ============================================================================
echo ================================ runBackground =============================
echo ============================================================================
{{ pwd }}/Background/runBackground_.sh -d {{ finalSelectionDir }} -y {{ year }} -p {{ plotsOutputDir }} -s {{ TprimeProc }}

echo ============================================================================
echo ================================== runfTest ================================
echo ============================================================================
{{ pwd }}/Signal/runfTest_.sh -d {{ finalSelectionDir }} -y {{ year }} -p {{ plotsOutputDir }} -s {{ TprimeProc }}

echo ============================================================================
echo ================================ runSignalFit ==============================
echo ============================================================================
{{ pwd }}/Signal/runSignalFit_.sh -y {{ year }} -p {{ plotsOutputDir }} -s {{ TprimeProc }}

echo ============================================================================
echo ================================== runPackager =============================
echo ============================================================================
{{ pwd }}/Signal/runPackager_.sh -y {{ year }} -s {{ TprimeProc }}

echo ============================================================================
echo ================================== makeYields ==============================
echo ============================================================================
{{ pwd }}/Datacard/makeYieldsYear_.sh -d {{ finalSelectionDir }} -y {{ year }} -s {{ TprimeProc }}

echo ============================================================================
echo ================================== makeDatacard ============================
echo ============================================================================
{{ pwd }}/Datacard/makeDatacard_.sh -y {{ year }} -s {{ TprimeProc }} -e

echo ============================================================================
echo ================================== runCombine =============================
echo ============================================================================
{{ pwd }}/Combine/runCombine_.sh -y {{ year }} -s {{ TprimeProc }}
